In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import joblib

In [2]:
model = joblib.load('./artifacts/model.joblib')

In [3]:
data = pd.read_csv('./data_fin.csv')
y = data[['target']]
X = data.drop('target', axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [5]:
pred = model.predict(X)

In [6]:
pred

array([0, 0, 0, ..., 2, 2, 2])

In [7]:
target = pd.DataFrame(pred)

In [8]:
target.value_counts().to_frame()

   count
0
0  13305
2  13122
1   8781